.Learn {
  width: 100vw;
}

.Container {
  margin: auto;
  width: 60%;
}

.ScoreContainer {
  flex-direction: "row";
}

.NumRight {
  color: #37ebd5;
  /* font-family: "Anonymous Pro";
  font-weight: 700;
  font-size: 1.2em; */
}

.Question {
  font-weight: bold;
  margin-bottom: 24px;
}

.ChoiceText {
  font-size: 0.8em;
  margin: 0;
}

.ChoiceButton {
  font-size: 1.3em;
  padding: 10px 18px; /* vert, hori */
  background: white;
  border-width: 2px;
  border-color: black;
  border-radius: 8px;
}

.NextButton {
  font-size: 0.8em;
  padding: 0px 18px;
  background: white;
  border: none;
}

.Bottom {
  position: absolute;
  bottom: 2em;
}

.Right {
  border-color: #37ebd5;
}

.Wrong {
  border-color: rgb(255, 40, 21);
}

p {
  font-family: "Anonymous Pro";
  font-weight: 700;
  font-size: 1.2em;
}

ul {
  /** works with ol too **/
  list-style: none; /** removes bullet points/numbering **/
  padding-left: 0px;
}

li:not(:last-child) {
  margin-bottom: 16px;
}
